.hero_section {
  background-color: #F7F7F7;

  p{
    font-size: 20px;
    font-family: sans-serif;
    
  }
  
  .opening{
    // height: 380px;
    // padding-top: 130px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 200px;

    
  }

  img{
    margin-top: 60px;
    height: 502px;
  }
  h1{
    font-size: 72px;
    font-family: linotype;
    font-style: italic;
  }

  .button{
    width: 204px;
    height: 45px;
    
    background-color: rgb(191, 151, 101);
    border: none;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    color: aliceblue;

    font-family: sans-serif;
    margin: 0px auto;
    letter-spacing: 2px;

    display: flex; /* Add flex display */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    span {
      margin-left: 4px; /* Add spacing between text and arrow */
    }
  }

    height: 935px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 8%;
}
  