.teamTitle {
    padding-top: 60px;
    width: auto;

    h1 {
        font-size: 56px;
        font-family: linotype;
        font-style: italic;
        text-align: center;
    }
}



.borderBox {
    @apply flex justify-center;
}

.card {
    padding: 1.5rem; /* Added padding for consistency */
    width: 100%; /* Ensure the card takes up full width */
    min-width: 400px; /* Added min-width */
    height: 100%; /* Ensure the card takes up full height */
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #ccc; /* Example border style */
}

.creating-gap {
    padding-top: 2rem;
}

.futuraFont {
    font-size: 16px;
    font-weight: lighter;
}

.didotFont {
    font-family: didot
}

  