.background-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./Assests/hero.jpg') ;
  background-position: bottom;
  background-size: cover ;
    background-repeat: no-repeat;
  height: 75vh;

}

.App{
  & *{
    // background-color:#cbbdb2ff;
  }
}