.service-container{
    display: flex;
    width: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    min-height: 600px;
}

.service{
    margin: 15px 0px;
    padding-top: 60px;
    width: auto;
    background-color: #F7F7F7;
    h2{
        font-size: 56px;
        font-family: linotype;
        font-style: italic;
        text-align: center;
    }

}


.service_intro{
    margin: 0px auto;
    font-size: 20px;
    font-family: sans-serif;
    max-width: 665px;
    text-align: center;
    word-wrap: normal;

}

.service{
    display: flex;
    flex-direction: column;
    
    .button{
        font-style: bold;
        margin: 15px auto;
        border:5px solid black ;
        border-radius: 5px;
        width: 142px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;

    }

}
