.service-container{
    display: flex;
    width: auto;
    justify-content: space-evenly;
    flex-direction: row;
    height: 600px;
}

.service{
    padding-top: 60px;
    width: auto;
    h2{
        font-size: 56px;
        font-family: linotype;
        font-style: italic;
        text-align: center;
    }

}

.service_intro{
    margin: 0px auto;
    font-size: 20px;
    font-family: sans-serif;
    width: 665px;
    text-align: center;

}

.service{
    display: flex;
    flex-direction: column;
    
    .button{
        margin: 0px auto;
        border:5px solid black ;
        border-radius: 5px;
        width: 142px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;

    }

}
