
.About{
    .detail{
        text-align: center;
        width:780px;
        margin: 0px auto;
    }
    h3{       
         margin: 0px auto;
        font-size: 20px;
        font-family: sans-serif;
        width: 665px;
        text-align: center;

    }
    
    h2{

        font-size: 56px;
        font-family: linotype;
        font-style: italic;
        text-align: center;
    }
    
}

