/* ./Pages_Styles/Appointment.scss */


.appointment-title{
  margin-top: 40px;
  font-size: 56px;
  font-family: linotype;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
}

.form-container {
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;

    .form-group {
      flex: 1;
      margin-right: 10px;

      input,
      textarea,
      select {
        font-weight: normal;
      }


    }

    .form-group:last-child {
      margin-right: 0;
    }
  }

  .form-control {
    width: 100%;
  }



}

.form-group textarea[name="message"] {
  height: 200px; /* Adjust the height as needed */
}

.submit-button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #000;

  // font-size: 18px;
  padding: 12px 20px;
  width: 200px;
  border: 3px solid black;
  font-weight: bold;
}