.banner{
    height: 538px;
    width: 100%;

    background-color: #94A998;
    display: flex;
    
    justify-content: space-around;
    flex-direction: column;

    .proffesional{
        margin-top: 40px;
        font-size: 40px;
        font-family: linotype;
        font-style: italic;
        text-align: center;
        margin-bottom: 40px;

        color: white;

    }
    .span_title{
        font-family: "Avenir Light", "Helvetica Neue Light", "Helvetica Light", "Arial", sans-serif;
        text-align: center;
        font-size: 60px;
        color: white;

    }

    .catch{
        font-family: "Avenir Light", "Helvetica Neue Light", "Helvetica Light", "Arial", sans-serif;
        text-align: center;
        font-size: 28px;
    }
    .scroll_down_container{
        
    }
    .scroll_down{
        font-size: 22px;
        font-family: linotype;
        font-style: italic;
        text-align: center;
        color: white;
    
    }
}

.catchphrase_box{
    background-color: #F7E8D3;
    height: 300px;
    justify-content: center; // Horizontally center the content
    align-items: center; // Vertically center the content
    display: flex;

    flex-direction: column;
}

.catchphrase{
    display: flex;
    justify-content: space-around; // Horizontally center the content
    flex-direction: column;

    p{
        font-family: "Futura Light", "Avenir Light", "Helvetica Neue Light", "Proxima Nova Light", "Gotham Light", "Lato Light", "Montserrat Light", sans-serif;
        text-align: center;
    }

    .title{
        font-size: 36px;
        font-family: "Futura Light", "Avenir Light", "Helvetica Neue Light", "Proxima Nova Light", "Gotham Light", "Lato Light", "Montserrat Light", sans-serif;

        text-align: center;
        color: #808080;
    }
    .line{
        width: 10%;
        height: 3px;
        background-color: #808080;
        border-radius: 2%;
        margin: 5% auto;
    }

    .catchphrase_description{
        
        font-size: 16px;
        text-align: center;
        color: #808080;
    }
}




.service_card{
    height: 530px;
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: left;
    background-color: #F7F7F7;
    @media (max-width: 905px) {
        flex-direction: column;
        justify-content: center;
        height: auto;
        // height: 530px;
        
    }

    .m{

        display: flex;
        justify-content: flex-start; /* Align content to the left */
        align-items: center;
        width: 50%;
        margin-left: 5%; /* Add some left margin */
        @media (max-width: 905px) {
            width: 100vw;
            margin: 0px;
        }
        h4{
            font-family: "Futura Light", "Avenir Light", "Helvetica Neue Light", "Proxima Nova Light", "Gotham Light", "Lato Light", "Montserrat Light", sans-serif;
        }
        .menu_list{
            font-family: "Futura Light", "Avenir Light", "Helvetica Neue Light", "Proxima Nova Light", "Gotham Light", "Lato Light", "Montserrat Light", sans-serif;
            min-width: 300px;
            display: flex;
            justify-content: left;
            flex-direction: column;
            @media (max-width: 905px) {
                margin: 0px;
                width: 100vw;
                
            }
        }
        .circle-bullet {
            display: inline-block;
            position: relative;
            padding-left: 1.5rem; /* Adjust the space between the circle and the text */
            margin-left: 1rem;
            margin-bottom: 5px;
            text-align: left;
            font-family: 'Ubuntu', sans-serif;
        }
        .circle-bullet::before {
            content: '';
            position: absolute;
            left: 0.5rem; /* Adjust the horizontal position of the circle */
            top: 0.5rem; /* Adjust the vertical position of the circle */
            width: 0.5rem; /* Adjust the size of the circle */
            height: 0.5rem; /* Adjust the size of the circle */
            background-color: #000; /* Adjust the color of the circle */
            border-radius: 50%; /* Make it a circle */
        }

        .tittle-circle-bullet {
            display: inline-block;
            position: relative;
            padding-left: 1rem; /* Adjust the space between the circle and the text */
            margin-left: .5rem;
            margin-bottom: 25px;
            text-align: left;
        }

        .text-container{
            @media (max-width: 905px) {
                margin: 0px auto;
                width: 500px;
                
            }

        }

        //   In this example, we created a new CSS class .circle-bullet and used the ::before pseudo-element to style it as a circle. You can adjust the size, position, and color of the circle by modifying the CSS properties.
          
        //   Make sure that the CSS file is correctly linked in your project, and Tailwind CSS is being applied as expected. The circles should now appear for each <li> as bullet points.
          
          

        
    }


    .flower-img-container {
        margin: 0 auto;
        position: relative;
        width: 75%; /* Set the desired width */
        height: auto; /* Set the desired height */
        overflow: hidden; /* Ensure the image does not overflow the container */
        @media (max-width: 905px) {
            width: auto;
            
        }
        
    }
    
    .flower-img-container img {
      width: 100%; /* Set the image width to fill the container */
      height: auto; /* Maintain the aspect ratio of the image */
    //   position: absolute; /* Position the image absolutely */
      top: -150px; /* Adjust the top value to move the image up (negative value) */
    }
}

.reverse_service_card{
    height: 530px;
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: left;
    background-color: #F7F7F7;
    @media (max-width: 905px) {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
        // height: 530px;
        
    }

    .m{

        display: flex;
        justify-content: flex-start; /* Align content to the left */
        align-items: center;
        width: 50%;
        margin-left: 5%; /* Add some left margin */
        @media (max-width: 905px) {
            margin: 0px;
            width: 100vw;
            
        }
        h4{
            font-family: "Futura Light", "Avenir Light", "Helvetica Neue Light", "Proxima Nova Light", "Gotham Light", "Lato Light", "Montserrat Light", sans-serif;
        }
        .menu_list{
            font-family: "Futura Light", "Avenir Light", "Helvetica Neue Light", "Proxima Nova Light", "Gotham Light", "Lato Light", "Montserrat Light", sans-serif;
            min-width: 300px;
            display: flex;
            justify-content: left;
            flex-direction: column;
            @media (max-width: 905px) {
                margin: 0px;
                width: 100vw;
                
            }
        }
        .circle-bullet {
            display: inline-block;
            position: relative;
            padding-left: 1.5rem; /* Adjust the space between the circle and the text */
            margin-left: 1rem;
            margin-bottom: 5px;
            text-align: left;
            font-family: 'Ubuntu', sans-serif;
        }
        .circle-bullet::before {
            content: '';
            position: absolute;
            left: 0.5rem; /* Adjust the horizontal position of the circle */
            top: 0.5rem; /* Adjust the vertical position of the circle */
            width: 0.5rem; /* Adjust the size of the circle */
            height: 0.5rem; /* Adjust the size of the circle */
            background-color: #000; /* Adjust the color of the circle */
            border-radius: 50%; /* Make it a circle */
        }

        .tittle-circle-bullet {
            display: inline-block;
            position: relative;
            padding-left: 1rem; /* Adjust the space between the circle and the text */
            margin-left: .5rem;
            margin-bottom: 25px;
            text-align: left;
        }

        .text-container{
            @media (max-width: 905px) {
                margin: 0px auto;
                width: 500px;
                
            }

        }

        //   In this example, we created a new CSS class .circle-bullet and used the ::before pseudo-element to style it as a circle. You can adjust the size, position, and color of the circle by modifying the CSS properties.
          
        //   Make sure that the CSS file is correctly linked in your project, and Tailwind CSS is being applied as expected. The circles should now appear for each <li> as bullet points.
          
          

        
    }


    .flower-img-container {
        margin: 0 auto;
        position: relative;
        width: 75%; /* Set the desired width */
        height: auto; /* Set the desired height */
        overflow: hidden; /* Ensure the image does not overflow the container */
        @media (max-width: 905px) {
            width: auto;
            
        }
        
    }
    
    .flower-img-container img {
      width: 100%; /* Set the image width to fill the container */
      height: auto; /* Maintain the aspect ratio of the image */
    //   position: absolute; /* Position the image absolutely */
      top: -150px; /* Adjust the top value to move the image up (negative value) */
    }
}