// /* Contact.style.scss */

// .contact-container {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: start;
//     flex-direction: column;
//     flex-wrap: wrap;
//     height: 679px;

//     background-color: #1da1f2;
  
//     .contact-image {
        
//         margin: 0 auto;
//         position: relative;
//         width: 50%; /* Set the desired width */
//         height: auto; /* Set the desired height */
//         overflow: hidden; /* Ensure the image does not overflow the container */
      
//         @media  (max-width: 768px) {
//           width: 100%;
//         }
      
//         img {
//           width: 100%; /* Set the image width to fill the container */
//           height: auto; /* Set the image height to fill the container */
//           object-fit: cover; /* Maintain aspect ratio and cover the container */
//           object-position: center top; /* Adjust vertical position as needed */
//         }
//       }
  
//     .contact-content {
//       width: 50%;
//       display: flex;
//       flex-direction: column;

//       @media (max-width: 768px) {
//         width: 100%;
//         align-items: center;
//         flex-direction: row;
//       }
//     }
  
//     .contact-details {
//       margin-top: 75px;
//       width: 75%;
//       margin-left: auto;
//       margin-right: auto;
//       margin-bottom: 55px;
//       .contact-info {
//         display: flex;
//         justify-content: start;

//         .vertical-line {
//         //   position: absolute;
//           height: 100%;

//           border: solid black 5px;
//           left: 50%;
//           transform: translateX(-50%);
//         }
//         p {
//           margin: 10px 0px;
//         }
//       }
//     }
  
//     .contact-form {
//       width: 75%;
//       display: flex;
//       margin: 0px auto;
//       flex-direction: column;
//       h4 {
//         text-align: center;
//       }
//       .contact-form-row{
//         display: flex;
//         justify-content: space-between;
        
//       }
//       .form-group {
//         margin-bottom: 1rem;
//         label {
//           font-weight: bold;
//         }
//         .form-control {
//           width: 100%;
//         }
//       }
//       .contact-submit-button {
//         // width: 100%;
//         font-weight: bold;
//         border: 2px solid #000;
//         background-color: black;
//         width: 140px;
//         color: white;
//         &:hover {
//           background-color: dodgerblue;
//           color: #160606;
//         }
//       }
//     }
  
//     .social-links {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-around;
//       width: 75%;
//       margin: 25px auto;
//       a {
//         text-decoration: none;
//         color: #000;
//         font-weight: bold;
//         &:hover {
//           color: #1da1f2; /* Twitter Blue */
//         }
//       }
//     }
  
//     // Media query for mobile devices
//     @media (max-width: 768px) {
//       .contact-content {
//         flex-direction: column-reverse;
//       }
//       .contact-form {
//         height: auto;
//       }
//     }
//   }
  

/* Contact.style.scss */

.contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 679px;
  background-color: #F7F7F7;
  @media (max-width: 1014px) {
    flex-wrap:nowrap;
    height: 900px;
    max-height: 900px;
    // z-index: 2;
  }

  .contact-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 450px) {
      width: 75%;
      // z-index: 2;
    }

    // @media (max-width: 768px) {
    //   width: 100%; /* Adjust the width to take up the full width on mobile */
    //   align-items: center;
    //   flex-direction: row; /* Change to row layout on mobile */
    //   justify-content: space-between; /* Distribute items along the row */
    //   flex-wrap:nowrap;
    // }
  }

  .contact-details {
    margin-top: 75px;
    width: 75%;
    max-width: 473px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    .contact-info {
      font-size: 18px;
      display: flex;
      justify-content: start;
      text-decoration: underline;
      @media (max-width: 450px) {
        flex-direction: column;
        justify-self: start;
        text-align: left;
        // z-index: 2;
      }
      .vertical-line {
        height: 100%;
        border: solid black 5px;
        left: 50%;
        transform: translateX(-50%);
      }
      p {
        margin: 10px 0px;
      }
    }
  }

  .contact-form {
    width: 75%;
    max-width: 473px;
    // min-width: 400px;
    // min-width: 400px;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    h4 {
      text-align: center;
    }
    .contact-form-row {
      display: flex;
      justify-content: space-between;
      @media (max-width: 450px) {
        flex-direction: column;
        // z-index: 2;
      }
    }
    .form-group {
      margin-bottom: 1rem;
      label {
        font-weight: bold;
      }
      .form-control {
        width: 100%;
      }
    }
    .contact-submit-button {
      font-weight: bold;
      border: 2px solid #000;
      background-color: black;
      width: 140px;
      color: white;
      &:hover {
        background-color: dodgerblue;
        color: #160606;
      }
    }
  }

  .contact-image {
    margin: 0 auto;
    position: relative;
    background-color: grey;
    width: 50%; /* Set the desired width */
    
    height: auto; /* Set the desired height */
    overflow: hidden; /* Ensure the image does not overflow the container */

    @media (max-width: 768px) {
      width: 100%; /* Adjust image width for mobile */
      height: 200px;
    }

    img {
      opacity: 0.5;
      width: 100%; /* Set the image width to fill the container */
      height: auto; /* Set the image height to fill the container */
      object-fit: cover; /* Maintain aspect ratio and cover the container */
      object-position: center top; /* Adjust vertical position as needed */
    
    }
    .centered {
      background:rgba(255, 255, 255, 0.776);
      padding: 20px 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 56px;
      font-family: linotype;
      font-style: italic;
      transform: translate(-50%, -50%);
      border-radius: 25px;

      @media (max-width: 700px) {
        width: 100%; /* Adjust image width for mobile */
        height: 200px;
        text-align: center;

        top: 100%;
        // left: 50%;
      }
    }
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    margin: 25px auto;
    a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      &:hover {
        color: #1da1f2; /* Twitter Blue */
        background-color: #9c9a9a;
        border-radius: 5px;
      }
    }
  }

  /* Media query for mobile devices */
  // @media (max-width: 1014px) {
  //   .contact-container {
  //     flex-direction: row;
  //     justify-content: center;
  //     flex-wrap:nowrap;
  //     height: 900px;
  //     // z-index: 2;
  //   }
  //   .contact-details,
  //   .contact-form {
  //     width: 100%; /* Take up full width on mobile */
  //   }



    
  // }


  
}
